.services {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 64px auto;
    gap: 32px;
    padding: 80px 0 32px;
}


.service,
.service div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.service {
    width: 30%;
    text-align: center;
    height: 300px;

    background-position: center;
    background-size: cover;
    position: relative;
    color: white;

    transition: all 300ms;
    z-index: 999;
}

.service:nth-child(1) {
    background-image: url(../images/blobs/2.png);
}

.service:nth-child(2) {
    background-image: url(../images/blobs/3.png);
}

.service:nth-child(3) {
    background-image: url(../images/blobs/4.png);
}

.service div {
    position: absolute;
    top: 30px;
    padding: 32px;
}

.service img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: -50px;
    transition: all 300ms;
}


.service:hover {
    transform: scale(1.3);
    filter: drop-shadow(0 0 8px var(--drop-shadow));
}

.service:hover img {
    transform: translateY(-20px) scale(1.2);
    animation: bounce 1s infinite;
    filter: drop-shadow(0 0 8px var(--drop-shadow));
}



